
.deleteIcon:hover{
color:rgb(0, 132, 255);
cursor: pointer;
}
.deleteIcon{
  color:rgb(255, 0, 0);
  cursor: pointer;
  }
.addbutton:hover{
color: cornflowerblue;
cursor: pointer;
}
.addbutton{
  color: rgb(210, 100, 237);
  cursor: pointer;
  }